<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between">
            <titulo-pagina-crud entidade="Usuários" acao="{{
                modoVisualizacao ? 'Visualizar': editandoRegistroExistente
                    ? 'Editar'
                    : 'Novo'
                }}"></titulo-pagina-crud>
            <div>
                <button *ngIf="modoVisualizacao" type="button" pButton pRipple label="Editar"
                    class="p-mb-3 p-mr-2 p-button-outlined p-button-primary" icon="pi pi-pencil"
                    (click)="habilitarModoEdicao()"></button>
                <button pButton pRipple label="Consultar" class="p-mb-3 p-mr-1 p-button-primary" icon="pi pi-list"
                    routerLink="/usuarios"></button>
            </div>
        </div>

        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
            <p-messages *ngIf="modoVisualizacao && formulario.touched" [value]="[
                    {
                        severity: 'warn',
                        summary: 'Modo de Visualização',
                        detail: 'O Formulário está em Modo de Visualização.'
                    }
                ]" [enableService]="false"></p-messages>
            <p-card styleClass="p-mb-4 p-p-0 p-shadow-3">
                <ng-template pTemplate="title">Informações Básicas</ng-template>
                <ng-template pTemplate="subtitle">Informe os dados do novo usuário</ng-template>

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-6">
                        <label for="name">Nome</label>
                        <input #nomeControl="ngModel" type="text" id="nome" name="nome" [(ngModel)]="usuario.nome"
                            pInputText required autofocus [readonly]="modoVisualizacao" />
                        <small class="p-invalid p-error" *ngIf="!nomeControl.valid && nomeControl.touched">
                            O nome do usuário é necessário.
                        </small>
                    </div>
                    <div class="p-field p-col-6">
                        <label for="email">Email</label>
                        <input #emailControl="ngModel" type="email" id="email" name="email" [(ngModel)]="usuario.email"
                            pInputText required email="true" autofocus [readonly]="modoVisualizacao" />
                        <small class="p-invalid p-error" *ngIf="
                                !emailControl.valid &&
                                emailControl.touched &&
                                !usuario.email
                            ">
                            O email do usuário é necessário.
                        </small>
                        <small class="p-invalid p-error" *ngIf="
                                !emailControl.valid &&
                                emailControl.touched &&
                                usuario.email
                            ">
                            O email do usuário é inválido.
                        </small>
                    </div>
                </div>
            </p-card>

            <p-card styleClass="p-mb-4 p-0 p-shadow-3">
                <ng-template pTemplate="title">Permissões e departamentos</ng-template>
                <ng-template pTemplate="subtitle">Configure as permissões do novo usuário</ng-template>

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-6">
                        <label>Cargo</label>
                        <p-dropdown #tipoUsuarioControl="ngModel" id="tipoUsuario" name="tipoUsuario"
                            [options]="tiposUsuarios" [(ngModel)]="usuario.tipoUsuario" placeholder="Selecione um Cargo"
                            optionLabel="descricao" emptyMessage="Nenhum registro encontrado" required
                            [readonly]="modoVisualizacao" [showClear]="!modoVisualizacao"></p-dropdown>
                        <small class="p-invalid p-error" *ngIf="
                                !tipoUsuarioControl.valid &&
                                tipoUsuarioControl.touched
                            ">
                            O tipo do usuário é necessário.
                        </small>
                    </div>
                    <div class="p-field p-col-6">
                        <label>Grupo de Departamentos</label>
                        <p-multiSelect name="departamentos" [options]="departamentos"
                            [(ngModel)]="usuario.departamentos" emptyMessage="Nenhum registro encontrado"
                            defaultLabel="Selecione os Departamentos" optionLabel="name" class="multiselect-custom"
                            [readonly]="modoVisualizacao">
                            <ng-template let-departamento pTemplate="item">
                                <div>
                                    <div>{{ departamento.nome }}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
            </p-card>

            <p-card styleClass="p-p-0 p-mb-4 p-shadow-3" *ngIf="usuario.criadoPor">
                <ng-template pTemplate="title">Auditoria</ng-template>
                <ng-template pTemplate="subtitle">Dados de auditoria do usuário</ng-template>

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-6">
                        <label for="criadoPor">Criado Por</label>
                        <input type="text" id="criadoPor" name="criadoPor.nome" [(ngModel)]="usuario.criadoPor.nome"
                            pInputText readonly />
                    </div>
                    <div class="p-field p-col-6">
                        <label for="dataCriacao">Data Criação</label>
                        <input type="text" id="dataCriacao" name="dataCriacao" [(ngModel)]="usuario.dataCriacao"
                            pInputText readonly />
                    </div>

                    <div class="p-field p-col-6" *ngIf="usuario.alteradoPor">
                        <label for="alteradoPor">Alterado Por</label>
                        <input type="text" id="alteradoPor" name="alteradoPor.nome"
                            [(ngModel)]="usuario.alteradoPor.nome" pInputText readonly />
                    </div>
                    <div class="p-field p-col-6" *ngIf="usuario.alteradoPor">
                        <label for="dataAlteracao">Data Alteração</label>
                        <input type="text" id="dataAlteracao" name="dataAlteracao" [(ngModel)]="usuario.dataAlteracao"
                            pInputText readonly />
                    </div>

                    <div class="p-field p-col-6" *ngIf="usuario.excluidoPor">
                        <label for="excluidoPor">Excluído Por</label>
                        <input type="text" id="excluidoPor.nome" name="excluidoPor.nome"
                            [(ngModel)]="usuario.excluidoPor.nome" pInputText readonly />
                    </div>
                    <div class="p-field p-col-6" *ngIf="usuario.excluidoPor">
                        <label for="dataExclusao">Data Exclusão</label>
                        <input type="text" id="dataExclusao" name="dataExclusao" [(ngModel)]="usuario.dataExclusao"
                            pInputText readonly />
                    </div>
                </div>
            </p-card>

            <div class="p-grid p-justify-end" *ngIf="!modoVisualizacao">
                <button type="button" pButton pRipple label="Limpar"
                    class="p-mb-3 p-mr-2 p-button-outlined p-button-secondary" [disabled]="editandoRegistroExistente"
                    (click)="limpar()"></button>
                <button type="submit" pButton pRipple label="Salvar" class="p-mb-3 p-mr-1 p-button-secondary"
                    icon="pi pi-save" [disabled]="
                        !formulario.valid ||
                        (editandoRegistroExistente && !formulario.touched)
                    ">
                </button>
            </div>
        </form>
    </div>
</div>

<p-toast></p-toast>
