<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-3">
        <label for="nome">Nome</label>
        <input
            id="nome"
            type="text"
            [(ngModel)]="filtro.nome"
            class="p-inputtext-sm"
            pInputText
        />
    </div>
    <div class="p-field p-col-3">
        <label for="email">Email</label>
        <input
            id="email"
            type="text"
            [(ngModel)]="filtro.email"
            class="p-inputtext-sm"
            pInputText
        />
    </div>
    <div class="p-field p-col-3">
        <label for="tipoUsuario">Tipo Usuário</label>
        <p-dropdown
            id="tipoUsuario"
            class="p-inputtext-sm"
            [options]="tiposUsuarios"
            [(ngModel)]="filtro.tipoUsuario"
            placeholder="Selecione um Tipo"
            optionLabel="descricao"
            emptyMessage="Nenhum registro encontrado"
            [showClear]="true"
        ></p-dropdown>
    </div>
    <div class="p-field p-col-3">
        <br />
        <br />
        <app-filtro-consideracao-ativos
            [filtroSelecionado]="filtro.filtroStatusAuditavel"
            (filtroChange)="filtro.filtroStatusAuditavel = $event"
        ></app-filtro-consideracao-ativos>
    </div>
</div>
<div class="p-d-flex p-jc-center">
    <div class="flex align-items-center justify-content-center">
        <button
            pButton
            pRipple
            label="Limpar"
            (click)="limparFiltros()"
            class="p-button-outlined p-button-primary p-mr-2 p-mb-3"
        ></button>
        <button
            pButton
            pRipple
            label="Buscar"
            (click)="buscar()"
            icon="pi pi-search"
            class="p-button-outlined p-button-secondary p-mb-3"
        ></button>
    </div>
</div>
