<p-toast></p-toast>
<div class="p=grid">
    <div class="p-col-12">
        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-9">
                    <label for="codigoProduto">Produto</label>
                    <input-button
                        (click)="show()"
                        [value]="item.produto.descricao || ''"
                    ></input-button>
                </div>
                <div class="p-field p-col-3">
                    <label for="quantidade">Quantidade</label>
                    <input
                        type="text"
                        id="quantidade"
                        name="quantidade"
                        [(ngModel)]="item.quantidade"
                        pInputText
                        readonly
                    />
                </div>
            </div>
            <div class="p-grid p-col-4">
                <div class="p-d-flex p-jc-between">
                    <button
                        type="submit"
                        pButton
                        pRipple
                        label="Salvar"
                        class="p-mb-3 p-mr-1 p-button-secondary"
                        icon="pi pi-save"
                        [disabled]="!formulario.valid"
                    ></button>
                </div>
            </div>
        </form>
    </div>
</div>
