<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between">
            <titulo-pagina-crud
                entidade="Produtos"
                acao="{{
                    modoVisualizacao
                        ? 'Visualização de Produto'
                        : editandoRegistroExistente
                        ? 'Editar'
                        : 'Novo'
                }}"
            ></titulo-pagina-crud>
            <div>
                <button
                    *ngIf="modoVisualizacao"
                    type="button"
                    pButton
                    pRipple
                    label="Editar"
                    class="p-mb-3 p-mr-2 p-button-outlined p-button-primary"
                    icon="pi pi-pencil"
                    (click)="habilitarModoEdicao()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Consultar"
                    class="p-mb-3"
                    icon="pi pi-list"
                    routerLink="/produtos"
                ></button>
            </div>
        </div>

        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
            <p-messages
                *ngIf="modoVisualizacao && formulario.touched"
                [enableService]="false"
                [value]="[
                    {
                        severity: 'warn',
                        summary: 'Modo de Visualização',
                        detail: 'O Formulário está em Modo de Visualização.'
                    }
                ]"
            >
            </p-messages>

            <produto-form-section
                [produto]="produto"
                [departamentos]="departamentos"
                [fabricantes]="fabricantes"
                [grupos]="grupos"
                [unidadesMedidas]="unidadesMedidas"
                [modoVisualizacao]="modoVisualizacao"
            ></produto-form-section>

            <div class="p-grid p-justify-end" *ngIf="!modoVisualizacao">
                <button
                    type="button"
                    pButton
                    pRipple
                    label="Limpar"
                    class="p-mb-3 p-mr-2 p-button-outlined p-button-secondary"
                    [disabled]="editandoRegistroExistente"
                    (click)="limpar()"
                ></button>
                <button
                    type="submit"
                    pButton
                    pRipple
                    label="Salvar"
                    class="p-mb-3 p-mr-2 p-button-secondary"
                    icon="pi pi-save"
                    [disabled]="!formulario.valid"
                ></button>
            </div>
        </form>
    </div>
</div>

<p-toast></p-toast>
